<div class="dashboard_indivisual_post_section">
  <div class="dashboard_indivisual_post">
    <div class="dashboard_post_header_section">
      <div
        (click)="routeToProfile()"
        class="img"
        style="background: url('{{ postProfilePic }}');"
      ></div>

      <h5>{{ postUserName }}</h5>
      <!-- Button trigger modal -->
      <button
        *ngIf="user.id === postUserId"
        type="button"
        data-toggle="modal"
        id="dashboard_post_menu"
        data-target="#postmenu1"
      >
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <!-- Modal -->
      <div
        class="modal fade postmenu"
        id="postmenu1"
        tabindex="-1"
        role="dialog"
        aria-labelledby="postmenuLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          style="max-width: 400px; margin: 0 auto;"
        >
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" data-dismiss="modal">
                Report Inappropriate
              </button>
              <button type="button" data-dismiss="modal" (click)="deletePost()">
                Delete
              </button>
              <button type="button" data-dismiss="modal">Go to post</button>
              <button type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard_post_content_section">
      <img src="{{ 'http://localhost:5000/' + post.productImage }}" />
    </div>
    <div class="dashboard_post_footer_section">
      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
      <p>Total Reviews {{ totalReviews }}</p>
      <h1>{{ post.description }}</h1>

      <span>{{ post.date }}</span>
    </div>
  </div>

  <mat-slider
    *ngIf="user.id !== postUserId"
    class="example-margin"
    [disabled]="disabled"
    [invert]="invert"
    [max]="max"
    #slider
    [min]="min"
    (change)="reviewValue($event)"
    (mouseup)="onDropReview(slider.value)"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [tickInterval]="getSliderTickInterval()"
    [vertical]="vertical"
    [(ngModel)]="value"
    ngDefaultControl
    [disabled]="hasSubmit === true ? true : false"
  >
  </mat-slider>

  <div *ngIf="post.comments">
    <div
      class="dashboard_post_header_section"
      *ngFor="let comments of post.comments"
    >
      <div
        (click)="routeToProfileByComment(comments.user)"
        class="img"
        style="background: url('{{ comments.profilePic }}');"
      ></div>

      <h5>{{ comments.name }}</h5>
      <p>{{ comments.review }}</p>
      <!-- Button trigger modal -->
      <button
        *ngIf="user.id === postUserId"
        type="button"
        data-toggle="modal"
        id="dashboard_post_menu"
        data-target="#postmenu1"
      >
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <!-- Modal -->
      <div
        class="modal fade postmenu"
        id="postmenu1"
        tabindex="-1"
        role="dialog"
        aria-labelledby="postmenuLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          style="max-width: 400px; margin: 0 auto;"
        >
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" data-dismiss="modal">
                Report Inappropriate
              </button>
              <button type="button" data-dismiss="modal" (click)="deletePost()">
                Delete
              </button>
              <button type="button" data-dismiss="modal">Go to post</button>
              <button type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
