<app-header></app-header>

<div class="settings_page">
  <div class="settings_main_section">
    <div class="d-block">
      <div class="settings_section_1">
        <button
          data-toggle="collapse"
          data-target="#account_settings"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Account Settings<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>

        <div
          class="collapse show"
          id="account_settings"
          [formGroup]="profileSettings"
        >
          <div class="card card-body">
            <h5>User Name</h5>
            <input formControlName="username" type="text" placeholder=" " />
            <h5>Email</h5>
            <input
              disabled="true"
              formControlName="email"
              type="email"
              placeholder="johndoe@example.com"
            />
            <!-- <a
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#settings_change_password"
              >Change Password</a
            > -->
            <div
              class="modal fade"
              id="settings_change_password"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Change Password
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" placeholder="Old Password" />
                    <input type="text" placeholder="New Password" />
                    <input type="text" placeholder="Confirm New Password" />
                  </div>
                  <div class="modal-footer">
                    <button id="close" data-dismiss="modal">Close</button>
                    <button id="update">Update</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <h5>Security</h5>
                                <input type="text" value="hadi.ahmed"> -->
          </div>
        </div>
      </div>
      <div class="settings_section_1">
        <button
          data-toggle="collapse"
          data-target="#account_settings"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Account Settings<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>

        <div
          class="collapse show"
          id="account_settings"
          [formGroup]="profileSettings"
        >
          <div class="card card-body">
            <h5>User Name</h5>
            <input formControlName="username" type="text" placeholder=" " />
            <h5>Email</h5>
            <input
              disabled="true"
              formControlName="email"
              type="email"
              placeholder="johndoe@example.com"
            />
            <!-- <a
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#settings_change_password"
              >Change Password</a
            > -->
            <div
              class="modal fade"
              id="settings_change_password"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Change Password
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" placeholder="Old Password" />
                    <input type="text" placeholder="New Password" />
                    <input type="text" placeholder="Confirm New Password" />
                  </div>
                  <div class="modal-footer">
                    <button id="close" data-dismiss="modal">Close</button>
                    <button id="update">Update</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <h5>Security</h5>
                                <input type="text" value="hadi.ahmed"> -->
          </div>
        </div>
      </div>
      <div class="settings_section_2">
        <button
          data-toggle="collapse"
          data-target="#data_permission"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Socail Networks<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>

        <div
          class="collapse"
          id="data_permission"
          [formGroup]="profileSettings"
        >
          <div class="card card-body">
            <h5>Facebook</h5>
            <input
              formControlName="facebook"
              type="text"
              placeholder="johndoe@example.com"
            />
            <h5>Twitter</h5>
            <input
              formControlName="twitter"
              type="text"
              placeholder="johndoe@example.com"
            />
            <h5>LinkedIn</h5>
            <input
              formControlName="linkedIn"
              type="text"
              placeholder="johndoe@example.com"
            />
            <h5>Instagram</h5>
            <input
              formControlName="instagram"
              type="text"
              placeholder="johndoe@example.com"
            />
            <!-- <h5>Apps & Sessions</h5>
                                <input type="text" placeholder="apps" value="apps"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="submit()">save</button>
