<app-header [loggedUser]="user"></app-header>

<div class="settings_page">
  <div class="settings_main_section">
    <div class="d-block">
      <div class="settings_section_3">
        <button
          data-toggle="collapse"
          data-target="#basic_info"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Basic Info<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>

        <div
          class="collapse show"
          id="basic_info"
          [formGroup]="profileSettings"
        >
          <div class="card card-body">
            <!-- <label for="file">update Profile Pic</label>
            <input type="file" id="file" (change)="fileChangeEvent($event)" />
            <div class="progress form-group" *ngIf="progress > 0">
              <div
                class="progress-bar progress-bar-striped bg-success"
                role="progressbar"
                [style.width.%]="progress"
              ></div>
            </div>

            <button (click)="upload()">Upadate Profile Pic</button> -->
            <div class="px-2 d-flex">
              <div
                class="img"
                style="background: url({{ user.profielPic }});"
              ></div>
              <a href="javascript:void(0);">Change Image</a>
            </div>
            <a
              type="button"
              class="btn btn-primary"
              id="update_profile_image"
              data-toggle="modal"
              data-target="#update_profile_photo"
            >
              Launch Upload modal
            </a>
            <div
              class="modal fade"
              id="update_profile_photo"
              tabindex="-1"
              role="dialog"
              aria-labelledby="update_profile_photoLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="update_profile_photoLabel">
                      Create Post
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      id="closeImageModal"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row w-100 mx-0">
                      <div
                        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 modal_preview_image"
                      >
                        <img src="{{ imgUrl }}" class="w-100" />
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="post" (click)="upload()">Post</button>
                  </div>
                </div>
              </div>
            </div>
            <h5>Name</h5>
            <input formControlName="name" type="text" placeholder=" " />
            <mat-form-field class="example-full-width" appearance="fill">
              <h5>Date Of Birth</h5>
              <input
                matInput
                formControlName="dateOfBirth"
                [matDatepicker]="picker"
                (dateInput)="dateChange($event)"
                id="date_of_birth"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div
              class="modal fade"
              id="settings_change_password"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Change Password
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" placeholder="Old Password" />
                    <input type="text" placeholder="New Password" />
                    <input type="text" placeholder="Confirm New Password" />
                  </div>
                  <div class="modal-footer">
                    <button id="close" data-dismiss="modal">Close</button>
                    <button id="update">Update</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <h5>Security</h5>
                                <input type="text" value="hadi.ahmed"> -->
          </div>
        </div>
      </div>
      <div class="settings_section_1">
        <button
          data-toggle="collapse"
          data-target="#account_settings"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Account Settings<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>

        <div
          class="collapse"
          id="account_settings"
          [formGroup]="profileSettings"
        >
          <div class="card card-body">
            <h5>User Name</h5>
            <input formControlName="userName" type="text" placeholder=" " />
            <h5>Email</h5>
            <input
              disabled="true"
              formControlName="email"
              type="email"
              placeholder="johndoe@example.com"
            />
            <!-- <a
              href="javascript:void(0)"
              data-toggle="modal"
              data-target="#settings_change_password"
              >Change Password</a
            > -->
            <div
              class="modal fade"
              id="settings_change_password"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Change Password
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" placeholder="Old Password" />
                    <input type="text" placeholder="New Password" />
                    <input type="text" placeholder="Confirm New Password" />
                  </div>
                  <div class="modal-footer">
                    <button id="close" data-dismiss="modal">Close</button>
                    <button id="update">Update</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <h5>Security</h5>
                                <input type="text" value="hadi.ahmed"> -->
          </div>
        </div>
      </div>
      <div class="settings_section_2">
        <button
          data-toggle="collapse"
          data-target="#data_permission"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Socail Networks<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>

        <div
          class="collapse"
          id="data_permission"
          [formGroup]="profileSettings"
        >
          <div class="card card-body">
            <h5>Facebook</h5>
            <div id="facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <input
                formControlName="facebook"
                type="text"
                placeholder="johndoe@example.com"
              />
            </div>
            <h5>Twitter</h5>
            <div id="twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <input
                formControlName="twitter"
                type="text"
                placeholder="johndoe@example.com"
              />
            </div>
            <h5>LinkedIn</h5>
            <div id="twitter">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <input
                formControlName="linkedIn"
                type="text"
                placeholder="johndoe@example.com"
              />
            </div>
            <h5>Instagram</h5>
            <div id="insta">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <input
                formControlName="instagram"
                type="text"
                placeholder="johndoe@example.com"
              />
            </div>
            <!-- <h5>Apps & Sessions</h5>
                                <input type="text" placeholder="apps" value="apps"> -->
          </div>
        </div>
      </div>
      <button id="save_settings" (click)="submit()">save</button>
    </div>
  </div>
</div>
