<!DOCTYPE html>
<html>
   
    <body>
        <div class="inbox_section">
            <div class="inbox_section_inner">
                <div class="d-block">
                    <h1>Inbox</h1>
                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                    <div class="inbox_question_section">
                        <span>Q</span>
                        <textarea rows="4" placeholder="No Question">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                        <input type="text" placeholder="Write your reply ...">
                        <button>Post</button>
                    </div>
                    <div class="inbox_question_section">
                        <span>Q</span>
                        <textarea rows="4" placeholder="No Question">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                        <input type="text" placeholder="Write your reply ...">
                        <button>Post</button>
                    </div>
                    <div class="inbox_question_section">
                        <span>Q</span>
                        <textarea rows="4" placeholder="No Question">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>
                        <input type="text" placeholder="Write your reply ...">
                        <button>Post</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>