<app-header></app-header>
<div class="dashboard_posts_section">
  <div class="container">
    <div class="w-100">
      <!-- paste your component in this div -->
    </div>
    <div class="other_accounts_section">
      <h5>Other Accounts</h5>
      <div class="row">
        <div
          class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 other_account_details"
        >
          <div
            class="other_accounts_section_image"
            style="
              background: url('https://media.santabanta.com/gallery/pakistani%20celebs(f)/hareem%20farooq/hareem-farooq-20-e.jpg');
            "
          ></div>
          <h5>Hadi Ahmed</h5>
          <span>@hadi.ahmed</span>
          <div _ngcontent-fii-c150="" class="star-rating">
            <span data-rating="1" class="fa fa-star"></span>
            <span data-rating="2" class="fa fa-star"></span>
            <span data-rating="3" class="fa fa-star"></span>
            <span data-rating="4" class="fa fa-star-o"></span>
            <span data-rating="5" class="fa fa-star-o"></span>
            <p _ngcontent-fii-c150="">3 stars</p>
            <input
              _ngcontent-fii-c150=""
              type="hidden"
              name="whatever1"
              value="3"
              class="rating-value"
            />
          </div>
          <a href="javascript:void(0);">View Profile</a>
        </div>
        <div
          class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 other_account_details"
        >
          <div
            class="other_accounts_section_image"
            style="
              background: url('https://tribune-reloaded.s3.amazonaws.com/media/images/2033321-mehiwsh-1565687160/2033321-mehiwsh-1565687160.jpg');
            "
          ></div>
          <h5>Hadi Ahmed</h5>
          <span>@hadi.ahmed</span>
          <div _ngcontent-fii-c150="" class="star-rating">
            <span data-rating="1" class="fa fa-star"></span>
            <span data-rating="2" class="fa fa-star"></span>
            <span data-rating="3" class="fa fa-star"></span>
            <span data-rating="4" class="fa fa-star-o"></span>
            <span data-rating="5" class="fa fa-star-o"></span>
            <p _ngcontent-fii-c150="">3 stars</p>
            <input
              _ngcontent-fii-c150=""
              type="hidden"
              name="whatever1"
              value="3"
              class="rating-value"
            />
          </div>
          <a href="javascript:void(0);">View Profile</a>
        </div>
        <div
          class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 other_account_details"
        >
          <div
            class="other_accounts_section_image"
            style="
              background: url('https://i.pinimg.com/originals/49/49/cf/4949cf461a0ac2288ed7eaea7e0d4f9f.jpg');
            "
          ></div>
          <h5>Hadi Ahmed</h5>
          <span>@hadi.ahmed</span>
          <div _ngcontent-fii-c150="" class="star-rating">
            <span data-rating="1" class="fa fa-star"></span>
            <span data-rating="2" class="fa fa-star"></span>
            <span data-rating="3" class="fa fa-star"></span>
            <span data-rating="4" class="fa fa-star-o"></span>
            <span data-rating="5" class="fa fa-star-o"></span>
            <p _ngcontent-fii-c150="">3 stars</p>
            <input
              _ngcontent-fii-c150=""
              type="hidden"
              name="whatever1"
              value="3"
              class="rating-value"
            />
          </div>
          <a href="javascript:void(0);">View Profile</a>
        </div>
        <div
          class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 other_account_details"
        >
          <div
            class="other_accounts_section_image"
            style="
              background: url('https://photo-cdn.urdupoint.com/show_img_new/upsocial/2018/_3/800x800/1533204032_21615.jpg');
            "
          ></div>
          <h5>Hadi Ahmed</h5>
          <span>@hadi.ahmed</span>
          <div _ngcontent-fii-c150="" class="star-rating">
            <span data-rating="1" class="fa fa-star"></span>
            <span data-rating="2" class="fa fa-star"></span>
            <span data-rating="3" class="fa fa-star"></span>
            <span data-rating="4" class="fa fa-star-o"></span>
            <span data-rating="5" class="fa fa-star-o"></span>
            <p _ngcontent-fii-c150="">3 stars</p>
            <input
              _ngcontent-fii-c150=""
              type="hidden"
              name="whatever1"
              value="3"
              class="rating-value"
            />
          </div>
          <a href="javascript:void(0);">View Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
