<!-- <header *ngIf="user" [loggedUser]="user"></header>

<h1>Create Your Profile</h1>
<h2>upload your profile picture</h2>
<input type="file" (change)="onFileChanged($event)" />

<h2>Let's get some information to make your profile stand out</h2>
<mat-form-field class="example-full-width">
  <mat-label>tell us a little about yourself</mat-label>
  <textarea matInput placeholder="a short bio about your self"></textarea>
</mat-form-field>

<h2>Add Social Network Links</h2>

<mat-form-field>
  <mat-label>Twitter Url</mat-label>
  <input
    matInput
    [formControlName]="'email'"
    [type]="'email'"
    required
    placeholder="Twitter Url"
  />
</mat-form-field>
<mat-form-field>
  <mat-label>Youtube Url</mat-label>
  <input
    matInput
    [formControlName]="'email'"
    [type]="'email'"
    required
    placeholder="Youtube Url"
  />
</mat-form-field>
<mat-form-field>
  <mat-label>Facebook Url</mat-label>
  <input
    matInput
    [formControlName]="'email'"
    [type]="'email'"
    required
    placeholder="Facebook Url"
  />
</mat-form-field> -->
