<div class="container" style="margin:100px 0px;">
    <div class="row">
  <div  class="col-md-4 d-flex mx-auto">
   
    <input type="file" (change)="fileChangeEvent($event)" />

    
    
    <!-- <img [src]="croppedImage" /> -->

     
        <button mat-button color="warn" (click)="upload()">  
            <mat-icon>file_upload</mat-icon>  
            Upload  
        </button>  
     
  </div>
  <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [resizeToWidth]="0"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  
</div>
</div>