<app-header
  (profileClicked)="profileClicked()"
  [loggedUser]="user"
></app-header>

<ngx-spinner *ngIf="hasloader"></ngx-spinner>

<div *ngIf="!hasloader" class="profile_posts_section">
  <div class="container">
    <div class="row mx-0 my-5">
      <div
        class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 dashboard_post_container"
      >
        <app-create-post
          *ngIf="user.id === currentProfileId"
          [user]="user"
          (postAdded)="newPostAdded($event)"
        ></app-create-post>

        <div class="content_section">
          <div class="custom_tabs">
            <ul class="nav nav-pills">
              <li>
                <a data-toggle="pill" href="#picture" class="active"
                  ><i class="fa fa-picture-o" aria-hidden="true"></i> My
                  Images</a
                >
              </li>
              <li>
                <a data-toggle="pill" href="#question"
                  ><i class="fa fa-comment" aria-hidden="true"></i> My
                  Questions</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div id="picture" class="tab-pane fade in active show">
                <div *ngIf="post">
                  <div *ngFor="let post of post">
                    <app-post
                      (deletedPost)="deletedPosts($event)"
                      [post]="post"
                      [user]="user"
                    ></app-post>
                  </div>
                </div>
              </div>

              <div id="question" class="tab-pane fade">
                <div class="dashboard_indivisual_post_section">
                  <div
                    class="dashboard_indivisual_post"
                    *ngFor="let question of question"
                  >
                    <div
                      *ngIf="question.visibleStatus"
                      class="dashboard_post_header_section"
                    >
                      <div
                        class="img"
                        style="background: url('{{ profileImage }}');"
                      ></div>
                      <h5>{{ profileName }}</h5>
                      <!-- Button trigger modal -->
                      <button
                        *ngIf="user.id === currentProfileId"
                        type="button"
                        data-toggle="modal"
                        id="dashboard_post_menu"
                        data-target="#postmenu1"
                      >
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </button>
                      <!-- Modal -->
                      <div
                        class="modal fade postmenu"
                        id="postmenu1"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="postmenuLabel"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                          style="max-width: 400px; margin: 0 auto;"
                        >
                          <div class="modal-content">
                            <div class="modal-body">
                              <button type="button" data-dismiss="modal">
                                Report Inappropriate
                              </button>
                              <button
                                type="button"
                                data-dismiss="modal"
                                (click)="deleteQuestion(question)"
                              >
                                Delete
                              </button>
                              <button type="button" data-dismiss="modal">
                                Go to post
                              </button>
                              <button type="button" data-dismiss="modal">
                                Cancel
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="profile_post_content_section">
                        <h4>{{ question.question }}</h4>
                      </div>
                      <div class="dashboard_post_footer_section">
                        <p>This is your answer..!</p>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <h1>
                          {{ question.answer }}
                        </h1>
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 dashboard_recommend_section"
      >
        <div class="recommend_section_inner">
          <div class="recommend_section_inner_image">
            <div
              class="img2"
              style="background: url('{{ profileImage }}');"
            ></div>
          </div>
          <div class="recommend_section_inner_details">
            <p>{{ profileName }}</p>
            <span>{{ profileName }}</span>
            <div class="star-rating">
              <span class="fa fa-star" data-rating="1"></span>
              <span class="fa fa-star" data-rating="2"></span>
              <span class="fa fa-star" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <p>3 stars</p>
              <input
                type="hidden"
                name="whatever1"
                class="rating-value"
                value="3"
              />
            </div>
          </div>
          <div class="recommend_section_rating_details">
            <div class="row">
              <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 border-right text-center"
              >
                <h3>Answers</h3>
                <p>{{ answersCount }}</p>
              </div>
              <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-center"
              >
                <h3>Average Ratings</h3>
                <p>35%</p>
              </div>
            </div>
          </div>
          <div class="recommend_section_social_details">
            <ul>
              <li *ngIf="user.social.facebook">
                <a href="{{ user.social.facebook }}">
                  <i class="fa fa-facebook" aria-hidden="true"> </i>
                </a>
              </li>
              <li *ngIf="user.social.linkedIn">
                <a href="{{ user.social.linkedIn }}">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li *ngIf="user.social.twitter">
                <a href="{{ user.social.twitter }}">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li *ngIf="user.social.instagram">
                <a href="{{ user.social.instagram }}">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="suggestions_section">
            <div class="row w-100 my-5">
              <div
                class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 suggestion_title"
              >
                <p>Suggestions for you</p>
              </div>
              <div
                class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 suggestion_link"
              >
                <!-- <a href="javascript:void(0);">See all</a> -->
              </div>
              <div class="row w-100" *ngFor="let user of allUsers">
                <div
                  class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 suggestion_title"
                >
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                      <div
                        (click)="navigateToProfile(user)"
                        class="img"
                        style="background: url('{{ user.profilePic }}');"
                      ></div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                      <h5>{{ user.name }}</h5>
                      <span>Followed by hadi.ahmed</span>
                    </div>
                  </div>
                </div>
                <div
                  class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 suggestion_link follow_link"
                >
                  <a href="javascript:void(0);">Follow</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="floating_add_post_section" *ngIf="currentProfileId !== user.id">
  <div
    class="img"
    style="float: right; background: url('{{ profileImage }}');"
  ></div>
  <button data-toggle="modal" data-target="#floating_ask_question">
    Ask Question From {{ profileName }}
  </button>
  <div
    class="modal fade"
    id="floating_ask_question"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
      style="max-width: 700px;"
    >
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [formGroup]="questionForm">
          <h1>Ask a question</h1>
          <p>Lorem Ipsum is simply a dummy text</p>
          <input
            formControlName="question"
            type="text"
            placeholder="Ask Your Questions?"
          />
          <button
            type="button"
            data-dismiss="modal"
            (click)="addNewQuestion()"
            class="btn btn-primary"
          >
            Ask Question
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
