<h1>asdasdasdasd</h1>
<div class="dashboard_indivisual_post_section" *ngIf="question">
  <div class="dashboard_indivisual_post">
      <div class="dashboard_post_header_section" *ngFor="let question of question">
         
          <!-- Button trigger modal -->
          <button  type="button" data-toggle="modal" id="dashboard_post_menu" data-target="#postmenu1">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade postmenu" id="postmenu1" tabindex="-1" role="dialog" aria-labelledby="postmenuLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 400px; margin: 0 auto;">
                  <div class="modal-content">
                      <div class="modal-body">
                          <button type="button"data-dismiss="modal">Report Inappropriate</button>
                          <button  type="button"data-dismiss="modal" (click)="deletePost()">Delete</button>
                          <button type="button"data-dismiss="modal">Go to post</button>
                          <button  type="button"data-dismiss="modal">Cancel</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="dashboard_post_content_section">
        <h1>{{question.text}}</h1>
          

         <div (click)="navigateToProfile(user.id)"  class="img" style="background: url('https://imagevars.gulfnews.com/2020/03/03/Mahira-Khan_170a034b091_large.jpg');"></div>

                    
                  

          
      </div>
      <div class="dashboard_post_footer_section">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
         
          <span>{{question.date}}</span>
      </div>
  </div>
  
  
</div>

<h4>asdasdasdasdasd
  asdasdasdasdasdasd
</h4>


